# PyCharm/IntelliJ IDE files
.idea/
.idea/*
*.iml
*.iws

# Eclipse & PyDev IDE files
.project
.pydevproject
.settings/
.settings
*.pyc

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Project specific
chat_logs/
*.db
